<?xml version="1.0"?>
<model>
  <name>Custom Terrain</name>
  <version>1.0</version>
  <sdf version='1.8'>model.sdf</sdf>

  <author>
    <name>Lachlan Partridge</name>
    <email>lachlan.e.partrige@student.uts.edu.au</email>
  </author>

  <description>
    A custom environment for UTS 2025 spring semester Robotics studio 1 Trail Blazer project.
  </description>
</model>
